[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sparrow = {editable = true, path = "."}

[dev-packages]
pytest-django = "*"
pytest-cov = "*"
pytest-dotenv = "*"
tox = "*"
"flake8" = "*"
model-mommy = "*"
